body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: rgb(0, 73, 208);
}

#board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid green;
}

.bottom-border {
  border-bottom: 0.2em solid green;
}

h1 {
  color: currentColor;
}

#game-over-area {
  text-align: center;
  border: rgb(43, 130, 0) 8px solid;
  padding: 50px;
  width: 50%;
  margin-top: 50px;
}

h2 {
  color: currentColor;
  font-size: 2em;
  margin-top: 0px;
}

button {
  background-color: transparent;
  color: currentColor;
  border: currentColor 1px solid;
  padding: 10px;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
} */

/* table{
  border-collapse:collapse
  position: absolute
  left: 50%
  top:50%
} */